%h3
  - if buyer
    #{buyer}名義で、
  想像購入しました
%p
  配送に関するお問い合わせ時に、
  %strong= @charge.id
  をお知らせください。
%ul
  %li
    %a{ href: 'http://www.amazon.co.jp/dp/4774158747/', target: '_blank' } 実際に購入する
  %li
    %a{ href: '/' } もう一度購入する
