%h4 購読者
%form{ action: '/renew', method: 'post' }
  %input{ type: 'submit', value: '新号分を課金する' }
%ul
  - @subscribers.each do |subscriber|
    %li
      （課金回数：
      = subscriber.charge_count
      ）
      = subscriber.customer_id
%h4 新規登録
%form{ action: '/subscribe', method: 'post' }
  %script{ src: 'https://checkout.webpay.jp/v1/', class: 'webpay-button', :'data-text' => 'WEB+DB PRESS を定期購読者を追加する', :'data-submit-text' => 'このカードで翌号から購読する', :'data-key' => WEBPAY_PUBLIC_KEY }
